In [6]:
import pyodbc #ODBC connection to SQL DB
#SQL DB connection details
server = 'gladcloud.database.windows.net'
database = 'GladCloudDWTest'
username = 'gcadmin'
password = 'L!meTree'
driver='{SQL Server}'

#Connect to SQL DB
conx_string = 'DRIVER='+driver+';SERVER='+server+';PORT=1443;DATABASE='+database+';UID='+username+';PWD='+ password
conx = pyodbc.connect(conx_string);
cursor = conx.cursor();

In [13]:
import pandas as pd
data = pd.read_csv ('~/Desktop/test.csv')
newdata = data
print(newdata) 
listvalues = newdata.values.tolist()

   Personid LastName FirstName    Address      City
0         1    Hales      Alex         UK    London
1         2     John       Bob  Australia    Sydney
2         3   Cruise       Tom        USA  New York

In [14]:
for result in listvalues:
    #print(result)
    cursor.execute("INSERT INTO dbo.Persons (PersonID,LastName,FirstName) VALUES (?,?,?)", result[0], result[1], result[2], result[3], result[4])
    conx.commit()

ProgrammingError: ('The SQL contains 3 parameter markers, but 5 parameters were supplied', 'HY000')

In [12]:
#fetching data from  Table 
query = ('SELECT * FROM GladCloudDWTest.dbo.Persons')
cursor.execute(query)
data = cursor.fetchall()
print (data)

[(1, 'Hales', 'Alex', None, None), (2, 'John', 'Bob', None, None), (3, 'Cruise', 'Tom', None, None)]