In [17]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [18]:
conx_string = "driver={SQL SERVER}; server=LAPTOP-T8CQH79D\KNINSTANCE; database=northwind; trusted_connection=YES;"

In [19]:
conx = pyodbc.connect(conx_string);
cursor = conx.cursor();

In [20]:
query = 'SELECT * FROM northwind.dbo.Customers'
cursor.execute(query);

In [21]:
data = cursor.fetchall()
print(data[:5])

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545'), ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', None, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'), ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', None, '05023', 'Mexico', '(5) 555-3932', None), ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'), ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', None, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

In [28]:
cursor.execute('''
                INSERT INTO northwind.dbo.Persons ( PersonID,LastName,FirstName,Address,City)
                VALUES
                (1,'BOB','Montreal','India', 'Chennai')
                ''')
conx.commit()

In [24]:
conx = pyodbc.connect(conx_string);
cursor = conx.cursor();
query = 'SELECT * FROM northwind.dbo.Persons'
cursor.execue(query);
data=cursor.fetall()
print(data[:5])

AttributeError: 'pyodbc.Cursor' object has no attribute 'execue'

In [26]:
import pyodbc 
conn = pyodbc.connect('driver={SQL SERVER};' 'server=LAPTOP-T8CQH79D\KNINSTANCE;'' database=northwind;'' trusted_connection=YES;'
cursor = conn.cursor()
cursor.execute('SELECT * FROM TestDB.dbo.Person')
 
for row in cursor:
    print(row)

SyntaxError: invalid syntax (<ipython-input-26-2e86ec488e21>, line 3)